<p>Question 1</p>

<div *ngIf="product">
  <h3>{{ product.title }}</h3>
  <p>{{ product.answer_type }}</p>
  <div ng-if="product.answer_type == 'Radio'">
    <footer>
      <button
        type="button"
        class="button-on-question"
        (click)="addToCart(product)"
      >
        Next
      </button>
    </footer>
  </div>

  <!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
--></div>
