<div class="content-center">
  <h3>Welcome to Infor Survey !</h3>

  <p>
    We want to know how satisfied you are with our product. Your answers will be
    anonymous and we will use the responses to improve all our future updates,
    features, and new products.
  </p>

  <div class="custom-button">
    <a routerLink="/products/1" class="button fancy-button">
      <button type="button">Let's Start</button>
    </a>
  </div>
</div>
<!-- <div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
</div> -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
