.custom-button {
  float: right;
}
.content-center {
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
