<head>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  />
</head>
<h1>Hello from Infor!</h1>
<p>We hope you’re having a lovely day.</p>
<br />
<p>
  We’ve chosen you as one of a small set of people to ask about your experience
  using Infor. If you have a moment to spare, would you be willing to answer a
  few questions? We’d greatly appreciate your feedback.
</p>

<p>Our short survey takes about <strong>7 minutes</strong>:</p>
<a routerLink="/cart" class="button fancy-button">
  <button type="button">Take the Survey</button>
</a>

<p>Thanks for your help!</p>
<br />
<p>
  Cheers, <br />
  The Research team from Infor
</p>

<footer class="footer-section">
  <div class="footer-container">
    <p>
      <a>Contact us</a> | +1 866 244 5479 <br />
      641 Avenue of the Americas | New York, NY 10011 <br />
      © Copyright 2020. Infor. All rights reserved
    </p>
    <p>
      <a>View Online</a><br />
      This email was sent becaused you expressed interest in communications from
      infor. If you wish to unsubscribe or update your email subscription,
      please visit our <a>Preference centre</a>. <br />View our
      <a>privacy policy</a>
    </p>
    <ul>
      <li>
        <a target="_blank" class="twitter" href="https://www.twitter.com/"
          ><i class="fa fa-fw fa-2x fa-inverse fa-twitter"></i
        ></a>
      </li>
      <li>
        <a target="_blank" class="linkedin" href="https://www.linkedin.com/"
          ><i class="fa fa-fw fa-2x fa-inverse fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a target="_blank" class="youtube" href="https://www.youtube.com/"
          ><i class="fa fa-fw fa-2x fa-inverse fa-youtube"></i
        ></a>
      </li>
    </ul>
  </div>
</footer>
<!-- <div *ngFor="let product of products">
  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <button type="button" (click)="share()">Take the Survey</button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div> -->
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
